.part {
    margin-bottom: 12px;
}

#result {
    background: #ccc9c9;
}

#field {
    margin-bottom: 15px;
}

.container {
    border: 1px solid rgb(150, 146, 146);
    margin-bottom: 12px;
    padding: 14px;
}

#finalButton {
    padding: 6px 13px;
    text-transform: uppercase;
}
