body{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
input {
    width: 900px;
}
#imgSquare{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}
#imgFirst{
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}