.main{
    font-family: Verdana, serif;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
span{
    color:rgba(255, 255,255, 0.5);
    size: 9px;
}
.pers{
    position: relative;
    width: 270px;
    height: 140px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 2px;
    
}
img{
    height: 182px;
    position: absolute;
}

#names{
    color: white;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

#captain_america_image {
    margin-top: -32px;
}

#iron_man_image {
    margin-top: -32px;
}

#black_widow_image {
    margin-top: -32px;
}
#spider_man_image {
    margin-top: -10px;
}

#captain_america {
    background: linear-gradient(180deg, #4568DC, #B06AB3);
}

#iron_man {
    background: linear-gradient(180deg, #e52d27, #b31217);
}

#black_widow {
    background: linear-gradient(90deg, #000, #61045F);
}
#spider_man {
    background: linear-gradient(180deg, #e52d27, #000); 
}